<% content_for :cover do %>

  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>圧倒的な現地体験</h1>
      </div>
    </div>
  </div>
<% end %>

<%= render 'tours/tours', tours: @tours %>