// Place all the styles related to the tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* tour */
.tour .panel-body {
  height: 70px;
}

.tour .panel-heading {
  height: 250px;
}

.tour .panel-heading img {
  height: 100%;
  max-width: 100%;
}

p.tour-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}