<div class="page-header">
  <h1>ご予約希望を承りました</h1>
</div>
<p>
　お問い合わせありがとうございました。<br>
　ご予約確認のメールが届きますのでご確認ください（メールが届いてない場合はメールアドレスが間違っているか、迷惑メールフォルダに入っている可能性があります。）。<br>
　後ほど、ツアー主催者から連絡がいきますので、よろしくお願い致します。
</p>