  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-flag"></span>遊ぶ</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>学ぶ</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-heart-empty"></span>くつろぐ</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-cutlery"></span>食べる</a></li>
            <li><a href="#"><span class=""></span>その他</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>